In [1]:
import pyspark as ps
from pyspark.sql import SparkSession as ss
from pyspark.sql.types import StructType,StructField,IntegerType,StringType,TimestampType,DoubleType
import pandas as pd

In [2]:
spark = ss.builder.master("local[*]").appName("spark").getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/mide/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/02/28 12:58:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
path = '/home/mide/data-analytical-engineering/week_5/data/raw/'
path_2 = '/home/mide/data-analytical-engineering/week_5/data/pq/'

In [4]:
df = spark.read.\
     option("header", "true").\
     csv(path + 'green/2021/01/')

In [5]:
df_green_pd = pd.read_csv(path + 'green/2021/01/green_tripdata_2021-01.csv.gz',nrows=1000)

In [6]:
df_green_pd

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1,43,151,1,1.01,5.5,0.5,0.5,0.00,0.00,NaN,0.3,6.80,2,1,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1,166,239,1,2.53,10.0,0.5,0.5,2.81,0.00,NaN,0.3,16.86,1,1,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1,41,42,1,1.12,6.0,0.5,0.5,1.00,0.00,NaN,0.3,8.30,1,1,0.00
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1,168,75,1,1.99,8.0,0.5,0.5,0.00,0.00,NaN,0.3,9.30,2,1,0.00
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2,265,265,3,0.00,-52.0,0.0,-0.5,0.00,0.00,NaN,-0.3,-52.80,3,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,2021-01-02 12:48:43,2021-01-02 13:54:15,N,1,15,177,1,25.76,77.0,0.0,0.5,2.75,12.24,NaN,0.3,92.79,1,1,0.00
996,1,2021-01-02 12:16:47,2021-01-02 12:24:56,N,1,116,74,1,2.00,9.0,0.0,0.5,1.95,0.00,NaN,0.3,11.75,1,1,0.00
997,2,2021-01-02 12:07:17,2021-01-02 12:12:06,N,1,42,41,1,0.87,5.5,0.0,0.5,0.00,0.00,NaN,0.3,6.30,2,1,0.00
998,2,2021-01-02 12:32:45,2021-01-02 12:59:46,N,1,82,218,1,11.88,35.0,0.0,0.5,0.00,0.00,NaN,0.3,35.80,2,1,0.00
999,2,2021-01-02 12:02:46,2021-01-02 12:09:02,N,1,166,116,1,0.90,6.0,0.0,0.5,0.00,0.00,NaN,0.3,6.80,2,1,0.00

In [7]:
spark.createDataFrame(df_green_pd).schema

StructType(List(StructField(VendorID,LongType,true),StructField(lpep_pickup_datetime,StringType,true),StructField(lpep_dropoff_datetime,StringType,true),StructField(store_and_fwd_flag,StringType,true),StructField(RatecodeID,LongType,true),StructField(PULocationID,LongType,true),StructField(DOLocationID,LongType,true),StructField(passenger_count,LongType,true),StructField(trip_distance,DoubleType,true),StructField(fare_amount,DoubleType,true),StructField(extra,DoubleType,true),StructField(mta_tax,DoubleType,true),StructField(tip_amount,DoubleType,true),StructField(tolls_amount,DoubleType,true),StructField(ehail_fee,DoubleType,true),StructField(improvement_surcharge,DoubleType,true),StructField(total_amount,DoubleType,true),StructField(payment_type,LongType,true),StructField(trip_type,LongType,true),StructField(congestion_surcharge,DoubleType,true)))

In [4]:
green_schema = StructType([
    StructField('VendorID',IntegerType(),True),
    StructField('lpep_pickup_datetime',TimestampType(),True),
    StructField('lpep_dropoff_datetime',TimestampType(),True),
    StructField('store_and_fwd_flag',StringType(),True),
    StructField('RatecodeID',IntegerType(),True),
    StructField('PULocationID',IntegerType(),True),
    StructField('DOLocationID',IntegerType(),True),
    StructField('passenger_count',IntegerType(),True),
    StructField('trip_distance',DoubleType(),True),
    StructField('fare_amount',DoubleType(),True),
    StructField('extra',DoubleType(),True),
    StructField('mta_tax',DoubleType(),True),
    StructField('tip_amount',DoubleType(),True),
    StructField('tolls_amount',DoubleType(),True),
    StructField('ehail_fee',DoubleType(),True),
    StructField('improvement_surcharge',DoubleType(),True),
    StructField('total_amount',DoubleType(),True),
    StructField('payment_type',IntegerType(),True),
    StructField('trip_type',IntegerType(),True),
    StructField('congestion_surcharge',DoubleType(),True)
])

In [9]:
df = spark.read.\
     option("header", "true").\
     schema(green_schema).\
     csv(path + 'green/2021/01/')

In [10]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [11]:
df_yellow_pd = pd.read_csv(path + 'yellow/2021/01/yellow_tripdata_2021-01.csv.gz',nrows=1000)

In [12]:
spark.createDataFrame(df_yellow_pd).schema

StructType(List(StructField(VendorID,LongType,true),StructField(tpep_pickup_datetime,StringType,true),StructField(tpep_dropoff_datetime,StringType,true),StructField(passenger_count,LongType,true),StructField(trip_distance,DoubleType,true),StructField(RatecodeID,LongType,true),StructField(store_and_fwd_flag,StringType,true),StructField(PULocationID,LongType,true),StructField(DOLocationID,LongType,true),StructField(payment_type,LongType,true),StructField(fare_amount,DoubleType,true),StructField(extra,DoubleType,true),StructField(mta_tax,DoubleType,true),StructField(tip_amount,DoubleType,true),StructField(tolls_amount,DoubleType,true),StructField(improvement_surcharge,DoubleType,true),StructField(total_amount,DoubleType,true),StructField(congestion_surcharge,DoubleType,true)))

In [5]:
yellow_schema = StructType([
    StructField("VendorID",IntegerType(),True),
    StructField("tpep_pickup_datetime",TimestampType(),True),
    StructField("tpep_dropoff_datetime",TimestampType(),True),
    StructField("passenger_count",IntegerType(),True),
    StructField("trip_distance",DoubleType(),True),
    StructField("RatecodeID",IntegerType(),True),
    StructField("store_and_fwd_flag",StringType(),True),
    StructField("PULocationID",IntegerType(),True),
    StructField("DOLocationID",IntegerType(),True),
    StructField("payment_type",IntegerType(),True),
    StructField("fare_amount",DoubleType(),True),
    StructField("extra",DoubleType(),True),
    StructField("mta_tax",DoubleType(),True),
    StructField("tip_amount",DoubleType(),True),
    StructField("tolls_amount",DoubleType(),True),
    StructField("improvement_surcharge",DoubleType(),True),
    StructField("total_amount",DoubleType(),True),
    StructField("congestion_surcharge",DoubleType(),True)
])

In [14]:
df = spark.read.\
     option("header", "true").\
     schema(yellow_schema).\
     csv(path + 'yellow/2021/01/')

In [15]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [ ]:
years = [2020,2021]
types = ['yellow','green']
months = [x for x in range(1,13)]
sche = [yellow_schema,green_schema]

for typ,sch in zip(types,sche):
    for year in years:
        #try:
        for month in months:
            print(f"processing for {typ}/{year}/{month:02d}")



            input_path = f"{path}/{typ}/{year}/{month:02d}/"
            output_path = f"{path_2}/{typ}/{year}/{month:02d}/"

            df = spark.read.\
                     option("header", "true").\
                     schema(sch).\
                     csv(input_path)


            df.repartition(4).write.mode("ignore").parquet(output_path)

            print(f"conversion completed for {typ}/{year}/{month:02d}")
        #except ps.sql.utils.AnalysisException:
            #pass

processing for yellow/2020/01
conversion completed for yellow/2020/01
processing for yellow/2020/02
conversion completed for yellow/2020/02
processing for yellow/2020/03
conversion completed for yellow/2020/03
processing for yellow/2020/04
conversion completed for yellow/2020/04
processing for yellow/2020/05
conversion completed for yellow/2020/05
processing for yellow/2020/06
conversion completed for yellow/2020/06
processing for yellow/2020/07

conversion completed for yellow/2020/07
processing for yellow/2020/08

conversion completed for yellow/2020/08
processing for yellow/2020/09

conversion completed for yellow/2020/09
processing for yellow/2020/10